/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: sans-serif;
}

img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.img-box{
    position: relative;
    
    
}

#app p{
    
    color: white;
    position: absolute;
    right: 3%;
    bottom: 0%;
    
}

h4{
    color: white;
    position: absolute;
    right: 3%;
    bottom: 70px;
}

.fa-solid{
    font-size: 40px;
}

/*utilities*/