/*css-reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*generics*/
body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.img-box{
    position: relative;
    
    
}
#app p, #app h4{
    position: absolute;
    right: 3%;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
}

#app p{
    top: 50px;
}

#app h4{
    top: 5px;
    font-weight: bolder;
}

.fa-solid{
    font-size: 40px;
}

/*utilities*/